<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PM</title>
  <link href="/css/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">

  <hr />
  <h1><a href="/">PM</a></h1>

  <hr>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/products">View-all</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products/new">Add-New</a>
    </li>
  </ul>
  <hr>

  {{{body}}}

</body>

</html>